@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: roboto;
	src: url(../font/Roboto-Regular.ttf);
}
body{
	font-family:roboto;
	background:url(../images/body_bg3.jpg);
	font: inherit;
}
.margin_top_50
{
	margin-top: 50px;
}
.margin_top_20
{
	margin-top: 20px;
}
/*---------------------------------------------------------------------------*/
/*-----------------------------HEADER-------------------------------------*/
.btn-default
{
	height: 38px;
	border-radius: 0;
	position: absolute;
	right: 75px;
	background-color: crimson;
	color: white;
}
.btn-default:hover
{
	background-color: black;
	transition: all 0.4s ease-in;
	color: white;
}
.header_1 a,.header_1 span
{	
	color: #297bc1;
	font-size: 12px;
}
.header_1 span
{
	color: #444;
	font-size: 12px;
}
.header_1 a:hover,.header_1 a:focus
{
	color: #444;
	text-decoration: none;
}

.wrap{
	margin:0 auto;
	padding:0 10px;
	background:#FFF;
}
.header_1
{
	background:#FFF;
	padding: 10px 20px;
}
/*.header_top{
	padding:20px 0;
}*/
.logo{
	float:left;
	width:25%;
}
/**** Header Top Right ****/
.header_top_right{
	float:left;
	width:67%;
	margin-top:35px;
}
.search_box{
	float:left;
	border: 1px solid #DBDBDB;
	position:relative;
	width:47%;
	height: 38px;
}
.search_box input[type="text"]{
	width:74%;
	padding:10px 8px;
	outline:none;
	border:none;
	background:none;
	font-size:14px;
	color:#a5a5a5;
	font-family:Arial;
	outline:none;
	margin:0;
}
.search_box input[type="submit"]{
	border:none;
	cursor:pointer;
	color:#FFF;
	font-size:12px;
	padding:10px 15px;
	height: 36px;
	margin:0;
	background-color: #444;
	-webkit-transition: all 0.5s;
	position:absolute;
	right:0;
	top:0;
}
.search_box input[type="submit"]:hover{
	background:#d70909;
}
.shopping_cart{
	width: 24%;
	float:left;
	position:relative;
	margin-left:75px;
	padding: 0 0 0 46px;
	background: url(../images/header_cart.png) 0 0 no-repeat;
	z-index: 99;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor:pointer;
}
.cart{
	font: inherit;
	height: 38px;
	padding: 0 0 0 10px;
	background: #EDEDED;
	border: 1px solid #CECECE;
	border-left: none;
	line-height: 36px;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.shopping_cart .cart .opencart {
	width: 7px;
	height: 5px;
	display: block;
	background: url(../images/header_arrow.png) 0 0 no-repeat;
	position: absolute;
	right: 11px;
	top: 16px;
}
.shopping_cart span.cart_title{
	font-size:13px;
	color: #4F4F4F;
}
.shopping_cart span.no_product{
	font-size:13px;
	color: #DD0F0E;
}
.cart a:hover
{
	text-decoration: none;
}
.wrapper-dropdown.active .dropdown{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	max-height: 400px;
	width: 95px;
	z-index: 1;
	background: #70389C;
}
.login{
	float:left;
	margin-left:10px;
	width:60px;
	height: 38px;
	display: block;
	border: 1px solid #CECECE;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/gradient_light-1.png) 0 0 repeat-x;
}
.login span a img{
	padding-top:8px;
}
/*** Login ***/
.register_account h3,.login_panel h3{
	font-size: 22px;
	color: #6C6C6C;
	font-family: 'Monda', sans-serif;
	padding-bottom:.4em;
}
.register_account{
	float:left;
	width:62%;
	padding:20px;
    background:#FFF;
    border:1px solid #C0BEBE;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.register_account form input[type="text"],.register_account form select{
	font-size:12px;
	color:#B3B1B1;
	padding:8px;
	outline:none;
	margin:5px 0;
	width:340px;
}
.register_account form select{
	width:360px;
	color:#666;
}
.register_account form input[type="text"].code{
	width:15%;
}
.register_account form input[type="text"].number{
	width:69.8%;
}
.register_account table td{
	width:100%;
}
.register_account p{
	font-size:12px;
	color:#666;
}
.search{
	float:left;
	margin-top:3px;
}
.login_panel{
	float:left;
	width:27%;
	margin-right:4%;
	padding:20px;
	background:#FFF;
	border:1px solid #C0BEBE;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.login_panel input[type="text"],.login_panel input[type="password"]{
	font-size:12px;
	color:#B3B1B1;
	padding:8px;
	outline:none;
	margin:6px 0;
	width:92%;
}
.login_panel form{
	margin:15px 0;
}
.login_panel p{
	font-size:12px;
	color:#888;
}
p.terms{
	float:left;
	font-size:12px;
	padding:15px 0 0 15px;
}
p.terms a,p.note a{
	text-decoration:underline;
	color:#7C2DC5;
}
p.terms a:hover,p.note a:hover{
	text-decoration:none;
}
p.note{
	font-size:15px;
	color:#666;
	padding:5px;
	line-height:1.6em;
}


/*---------------------------------------------------------------------------*/

/*-----------------------------BG_CONTENT-------------------------------------*/
	#cong
	{
		background-color:#d0021b;
		width: 30px;
		height: 30px;
		color:white;
		text-align:center;
		border:none;
	}
	#cong:hover
	{
		cursor:pointer;
	}

	#tru
{
		background-color:#d0021b;
		width: 30px;
		height: 30px;
		color:white;
		text-align:center;
		border:none;
	}	
	#tru:hover
	{
		cursor:pointer;
	}
	#textBox
	{
		width: 30px;
		height: 30px;
		line-height: 30px;
		vertical-align: middle;
		text-align: center;
	}

.tieu_de
{
	background-color: white;
	height: 50px;
	line-height: 60px;
	border-bottom: 2px solid #e3e3e3;
}
.tieu_de h2
{
	margin: 0;
	font-size: 24px;
	padding: 0 10px;
	display: inline-block;
	color: #3d3d3d;
}
.tieu_de span
{
	font-size: 12px;
	display: inline-block;
	color: #666;
}
.my-zoom-1
{
	margin-top: 5px;
	text-align: center;
}
.wm-zoom-box
{
	margin-top: 50px;
	text-align: center;
}

.mua_hang
{
	/*text-align: center;*/
	vertical-align: middle;
	background-color: white;
	height: auto;
	margin-top: 10px;
}
.mua_hang h2
{
	margin-left: 20px;
	color: #d0021b;
	font-weight: bold;
}
.order
{
	width: 45%;
	height: auto;
	padding: 10px 10px;
	line-height: 25px;
	background-color: white;
	text-align: center;
	border: 1px solid #d1d1d1;
	display: inline-block;
	margin-right: 10px;
}

p
{
	margin: 0;
	padding: 0;
}
.order p
{
	font-size: 16px;
	color: #d0011b;
}
.order span
{
	font-size: 18px;
	color: #d0011b;
	font-weight: bold;
}
.thong_tin ul
{
	float: left;
	padding-left: 20px;
}
.thong_tin_2 ul
{
	float: left;
	padding-left: 50px;
}
.thong_tin ul li,.thong_tin_2 ul li
{
	font-size: 12px ;
	float: none;
}
.button
{
	background-color: #34a105;
	height: 30px;
}
.button p
{
	padding:5px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 14px;
	border: 1px dashed #d7d7d7;
}
h3,h2
{
	margin-top: 0;
	margin-bottom: 0;
}
.inform h3
{
	margin-top: 15px;
	margin-left: 10px;
	color: #2a7709;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}
.khung_inform
{
	border: 1px dashed #d7d7d7;
	margin-top: 0;
	height: 80px;
}
.khung_inform ul li a
{
	text-decoration: none;
}
.khung_inform ul li a
{
	margin-left: 20px;
}
.inform h2
{
	margin-left: 10px;
	color: #2a7709;
	font-size: 12px;
	font-weight: bold;
}
.inform ul
{
	margin-bottom: 0;
	margin-top: 5px;
	margin-left: -16px;
}
.inform ul h2
{
	padding: 10px;
	color: #2a7709;
	font-size: 12px;
	font-weight: bold;
	margin-left: -20px;
}
.inform ul li
{
	font-size: 13px;
	line-height: 20px;
	list-style-type: disc;
}
.chon_mau h3
{
	display:inline-block;
}
.chon_mau
{
	margin-top: 7px;
	position: relative;
}
.mau
{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #809dbf;
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	bottom: 0;
	left: 70px;
}
.mau_1
{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	bottom: 0;
	left: 110px;
}
.mau_1:hover,.mau:hover,.mau_2:hover,.mau_3:hover
{
	transform: scale(1.1);
	box-shadow: 0 0 0 2px #ff8383;
}
.mau_2
{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #daa520;
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	bottom: 0;
	left: 70px;
}
.mau_3
{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #FFC0CB;
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	bottom: 0;
	left: 190px;
}
.dat_hang_1
{
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.dat_hang_1:hover button,.dat_hang_1:focus button
{
	background: black;
	color: white;
	border: none;
	border-color: transparent;
	border-radius: 0;
}
.dat_hang_2:hover button
{
	background-color: #da0b00;
	color: white;
}
.dat_hang_1 button
{
	width: 100%;
	height: 60px;
	background-color: #da0b00;
	color: white;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 0;
}
.dat_hang_2 button
{
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: 500;
	border-radius: 0;
	border: none;
}
.dat_hang_1 span, .dat_hang_2 span
{

	color: white;
	font-size: 10px;
}
.mua_hang_1,.dat_hang_2
{
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
}
.mua_hang_1 h3
{
	margin-top: 70px;
	color: black;

}
.mua_hang_1 h3 span
{

	color:#c30016;

}
/*---------------------------------------------------------------------------*/
/*----------------------------------- Nav tabs ----------------------------------*/
.tab_dt,.tab-content
{
	padding: 0;
	background-color: white;
	text-align: center;
}
.nav-tabs li a
{
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.nav-tabs li a:focus,.nav-tabs li a:hover
{
	color: black;
	border-bottom: 2px solid #c30016 !important;
	background-color: transparent!important;
}
.content_dt
{
	text-align: center;
}
.conten_dt img
{
	text-align: center;
}
.content_dt h5
{
	
	font-size: 13px;
	font-weight: bold;
}
.content_dt strong
{
	color: #d0021b;
	font-weight: bold;
	font-size: 16px;
}
.content_dt a
{

	color: black;
}
.content_dt:hover a,.content_dt a:focus
{
	transition: all .7s ease 0s ;
	/*border: 1px inset #000000;*/
	text-decoration: none;
	color: black;
}
.content_dt:hover h5
{
	color: cornflowerblue;
}
/*----------------------------------- ----------------------------------*/
/*-----------------------------------THONG SO ----------------------------------*/
.show_tt
{
	width: 100%;
	padding-left: 0;
}
.thong_so
{
	margin-top: 10px;
	background-color: white;
}
.thong_so h3
{
	color: black;
	font-size: 18px;
	border-bottom: 1px solid #e3e3e3;
	line-height: 45px;

}
.thong_tin h4,.tieu_de
{
	font-size: 15px !important;
	color: #d0021b;
	font-weight: bold;
	line-height: 55px;
	border-bottom: 1px solid #ebebeb;
}

.show_tt li,.nd_tt ul li
{
	width: 100%;
	list-style: none;
	/*border-bottom: 1px solid #ebebeb;*/
	line-height: 45px;
	border-bottom: 1px solid #e3e3e3;
}
.show_tt li label
{
	width: 180px;
	font-size: 14px;
}
.nd_tt
{
	background-color: white;
	line-height: 35px;
}
.nd_tt ul
{
	list-style: none;
	margin-top: 10px;
	height: auto;
	padding-left: 15px;
}
.tin_tuc h2
{
	font-size: 18px;
	color: #3d3d3d;
	padding: 10px;
	border-bottom: 1px solid #e3e3e3;
	line-height: 30px;
}
.nd_tt ul li a img
{
	float: left;
	width: 120px;
}
.nd_tt ul li a
{
	font-size: 14px;
}
.nd_tt ul li h3
{
	margin-left: 120px;
	font-size: 14px;
	line-height: 30px;
	padding: 5px 10px;
	margin-top: 7px;
}
.inform_tt ul li a:hover ,.inform_tt ul li a:focus
{
	text-decoration: none;
}
.inform_tt ul li a img
{
	position: absolute;
	top:10px;
}
.inform_tt ul li a .h_1
{
	position: absolute;
	top:25px;
}
/*----------------------------------- ----------------------------------*/

/***----------------------------------------- Footer ------------------------------------------ ***/
.wrapper{	
	width:100%;
	margin:0 auto;
	padding:0 1%;
}
.footer{
	position:relative;
	/*box-shadow: inset 0px 1px 8px #222;*/
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
	/*border-right: 2px groove #555;*/
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.col_1_of_4:last-child {
	border:none;
}
.span_1_of_4 {
	width: 210px;
	padding:10px 10px; 
}
.support_tt
{
	width: 280px;
	padding:0px 10px; 

}
.support_tt h4 img
{
	padding: 0 5px;
}
.span_1_of_4  h4,.social-icons h4 {
	color:#000000;
	font-weight: bold;
	margin-bottom: .5em;
	font-size:16px;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 10px;
	letter-spacing: -1px;
	text-transform:uppercase;
	border-bottom:1px solid #BDBDBD;
	padding-bottom:0.5em;
}
.span_1_of_4  li a{
	font-size:0.8125em;
	padding:0.4em 0;
	color:#3399d2;
	display:block;	 	 
}

.span_1_of_4  li a:hover,.span_1_of_4  li span:hover{
	color:#000000;
	text-decoration: none;
}
.footer_pay
{
	font-size:0.8125em;
	padding:0.5em 0;
	color:#3399d2;
	display:block;	 	 
}
/*** Social Icons ***/
/*.social-icons{
	padding-top:8%;
}*/
.social-icons li {
	width:30px;
	height:30px;
	padding: 0px 0 0 5px;
	margin: 0;
    display:inline-block;
	cursor:pointer;
}
.social-icons li.facebook {
	background:url(../images/icon-2.png) no-repeat 0px  -29px;
}
.social-icons li.facebook:hover {
	background:url(../images/icon-2.png) no-repeat 0px  0px;
	/*transition: all 0.6s linear;*/
}
.social-icons li.twitter {
	background:url(../images/icon-3.png) no-repeat 0px  -29px;
}
.social-icons li.twitter:hover {
	background:url(../images/icon-3.png) no-repeat 0px  0px;
}
.social-icons li.googleplus {
	background:url(../images/icon-4.png) no-repeat 0px  -29px;
}
.social-icons li.googleplus:hover {
	background:url(../images/icon-4.png) no-repeat 0px  0px;
}
.social-icons li.contact {
	background:url(../images/icon-1.png) no-repeat 0px  -29px;
}
.social-icons li.contact:hover {
	background:url(../images/icon-1.png) no-repeat 0px  0px;
}
 .copy_right{
	text-align:center;
	padding:15px 0;
 }
 .copy_right p{
	font-size:12px;
	color:#747474;
 }
 .copy_right p a{
    color:#747474;
	font-size:12px;
	text-decoration:underline;
 }
 .copy_right p a:hover{
	color:#BBB7B7;
	text-decoration:none;
 }
/***----------------------------------------- Footer ------------------------------------------ ***/
.wrapper{	
	width:100%;
	margin:0 auto;
	padding:0 1%;
}
.footer{
	position:relative;
	/*box-shadow: inset 0px 1px 8px #222;*/
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
	/*border-right: 2px groove #555;*/
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.col_1_of_4:last-child {
	border:none;
}
.span_1_of_4 {
	width: 250px;
	padding:10px 10px; 
}
.support_tt
{
	width: 300px;
	padding:0px 10px; 

}
.support_tt h4 img
{
	padding: 0 5px;
}
.span_1_of_4  h4,.social-icons h4 {
	color:#000000;
	font-weight: bold;
	margin-bottom: .5em;
	font-size:16px;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 10px;
	letter-spacing: -1px;
	text-transform:uppercase;
	border-bottom:1px solid #BDBDBD;
	padding-bottom:0.5em;
}
.span_1_of_4  ul
{
	list-style: none;
	padding-left: 0;
}
.span_1_of_4  li a
{
	font-size:12px;
	padding:0.4em 7px;
	color:#3399d2;
	display:block;	 	 
}

.span_1_of_4  li a:hover,.span_1_of_4  li span:hover{
	color:#000000;
	text-decoration: none;
}
.footer_pay
{
	font-size:12px;
	padding:0.5em 0;
	color:#3399d2;
	display:block;	 	 
}
/*** Social Icons ***/
/*.social-icons{
	padding-top:8%;
}*/
.social-icons li {
	width:30px;
	height:30px;
	padding: 0px 0 0 5px;
	margin: 0;
    display:inline-block;
	cursor:pointer;
}
.social-icons li.facebook {
	background:url(../images/icon-2.png) no-repeat 0px  -29px;
}
.social-icons li.facebook:hover {
	background:url(../images/icon-2.png) no-repeat 0px  0px;
	/*transition: all 0.6s linear;*/
}
.social-icons li.twitter {
	background:url(../images/icon-3.png) no-repeat 0px  -29px;
}
.social-icons li.twitter:hover {
	background:url(../images/icon-3.png) no-repeat 0px  0px;
}
.social-icons li.googleplus {
	background:url(../images/icon-4.png) no-repeat 0px  -29px;
}
.social-icons li.googleplus:hover {
	background:url(../images/icon-4.png) no-repeat 0px  0px;
}
.social-icons li.contact {
	background:url(../images/icon-1.png) no-repeat 0px  -29px;
}
.social-icons li.contact:hover {
	background:url(../images/icon-1.png) no-repeat 0px  0px;
}
 .copy_right{
	text-align:center;
	padding:15px 0;
 }
 .copy_right p{
	font-size:12px;
	color:#747474;
 }
 .copy_right p a{
    color:#747474;
	font-size:12px;
	text-decoration:underline;
 }
 .copy_right p a:hover{
	color:#BBB7B7;
	text-decoration:none;
 }
@media screen and (max-width:767px)
{
	.col_1_of_4:first-child { margin-left: 0px; }
}
.fb-comments
{
	margin: 0 auto;
}
.social-icons h4
{
	width: 260px;
	display: inline-block;
}
/*-------------------------------------------------------------*/

